header{
    padding:0.5rem;
    background-color: azure;
    position: relative;
    height:2.5rem;
}
header .logo{
    position: absolute;
    min-width: rem;
    max-width: rem;
    min-height: rem;
    max-height: rem;
}
ul{
    position: absolute;
    margin-left:7rem;
    top:0;
}
li{
    list-style: none;
    font-weight: bold;
    font-family: sans-serif;
    padding-bottom:0.5rem;
    padding-right: 1rem;
    float:left;
    margin:0;
}

li:hover{
    color:purple;
}

.content{
    position: relative;
    background-color: whitesmoke;
    margin:0rem;
    padding:3rem 3rem 30rem 3rem;
}
.text-wrapper{
    margin:0;
    padding:0;
}
h1{
    font-family: "",sans-serif;
    font-size:rem;
}
h1 span{
    color:purple;
}
p{
    font-family: "",sans-serif;
    font-size:rem;
    margin:2rem 0rem;
}
button{
    color:#fff;
    background-color: blue;
    border-radius: 1rem;
    border-style: none;
    padding:0.5rem 1rem;
    font-family: "",sans-serif;
}
.right-image{
    position: absolute;
    min-width: rem;
    max-width: rem;
    min-height: rem;
    max-height: rem;
}
footer{
    
}